Repository Opetushallitus/jod-yksilo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3463: Enhance session expiration handling
  src/api/middlewares/sessionExpired.test.ts
  src/api/middlewares/sessionExpired.ts
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3509: Fix sorting+emphasis on filters on Tool
  src/routes/Tool/ToolSettings.tsx
  src/stores/useToolStore/index.ts
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3514: Add skill limit exceeded handling
  src/api/schema.d.ts
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/DataImportExport/TmtImportExport/TmtImportExport.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3508: Add skills to CV import
  .gitignore
  src/api/schema.d.ts
  src/components/AiInfo/AiInfo.tsx
  src/components/DataImportTable/DataImportTable.tsx
  src/components/ExperienceTable/ExperienceTableRow.tsx
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/DataImportExport/CvImport/AttachmentStep.tsx
  src/routes/Profile/DataImportExport/CvImport/CvImportWizard.tsx
  src/routes/Profile/DataImportExport/CvImport/SummaryStep.tsx
  src/routes/Profile/DataImportExport/CvImport/utils.ts
  src/routes/Profile/EducationHistory/utils.ts
  src/routes/Profile/WorkHistory/utils.ts
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3449: Update Goals to show only one at a time
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/MyGoals/MyGoalsSection.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3449: Update Goals to show only one at a time
  src/components/ImportInfoBox/ImportInfoBox.tsx
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/DataImportExport/CvImport/CvImport.tsx
  src/routes/Profile/DataImportExport/KoskiImport/KoskiImport.tsx
  src/routes/Profile/DataImportExport/TmtImportExport/TmtImportExport.tsx
  src/routes/Profile/MyGoals/MyGoalsSection.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3449: Update Goals to show only one at a time
  src/components/ImportInfoBox/ImportInfoBox.tsx
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/DataImportExport/CvImport/CvImport.tsx
  src/routes/Profile/DataImportExport/KoskiImport/KoskiImport.tsx
  src/routes/Profile/DataImportExport/TmtImportExport/TmtImportExport.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3545: Fix title in index file
  index.html
Due: none

OPHJOD-3541: Update translations + Tolgee side
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
Due: prettier --write

OPHJOD-3548: Fix wrong JIRA ticket on deprecated translation keys
  .github/workflows/translations-sync.yml
  README.md
  oxlint.config.ts
  scripts/translations/code-keys.js
  scripts/translations/jira-attribution.js
  scripts/translations/jira-attribution.test.ts
  scripts/translations/manage-tags.js
  scripts/translations/repair-jira-tags-logic.js
  scripts/translations/repair-jira-tags-logic.test.ts
  scripts/translations/repair-jira-tags.js
  scripts/translations/tolgee-api.js
  scripts/translations/tolgee-config.test.ts
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3542: Track conversation starts in virtual assistant
  src/components/VirtualAssistant/hooks/useVirtualAssistantConversation.ts
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3508: WIP1
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/DataImportExport/CvImport/CompetenceSelectionStep.tsx
  src/routes/Profile/DataImportExport/CvImport/CvImportWizard.tsx
  src/routes/Profile/DataImportExport/CvImport/InfoSelectionStep.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3508: WIP2
  src/routes/Profile/DataImportExport/CvImport/CompetenceSelectionStep.tsx
  src/routes/Profile/DataImportExport/CvImport/CvImportWizard.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-2369: Update DS
  package-lock.json
  package.json
Due: prettier --write

OPHJOD-3508: WIP3
  src/i18n/yksilo/en.json
  src/i18n/yksilo/fi.json
  src/i18n/yksilo/sv.json
  src/routes/Profile/DataImportExport/CvImport/CompetenceSelectionStep.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3563: Implement temporary fix for KoulutusasteTyollisuudet handling and refactor related logic
  src/routes/JobOpportunity/JobOpportunity.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3558: Update DS
  package-lock.json
  package.json
Due: prettier --write

OPHJOD-3570: Add inactive tag to opportunity details
  src/api/schema.d.ts
  src/components/OpportunityDetails/OpportunityDetails.tsx
  src/routes/EducationOpportunity/EducationOpportunity.tsx
  src/routes/EducationOpportunity/loader.ts
  src/routes/JobOpportunity/JobOpportunity.tsx
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-851: Update dependencies
  package-lock.json
  package.json
  src/components/MahdollisuusTyyppiFilter/MahdollisuusTyyppiFilter.test.tsx
  src/main.tsx
  src/vitest-jest-dom.d.ts
Due: prettier --write, eslint --report-unused-disable-directives

OPHJOD-3560: Update DS
  package-lock.json
  package.json
Due: prettier --write

OPHJOD-3579: Remove 'KOHTAANTO_KUVAUKSET' feature
  config/features.json
  e2e/fixtures.ts
  scripts/sync-feature-flags.sh
  src/routes/Profile/EducationHistory/EducationHistoryWizard/EducationStep.tsx
  src/routes/Profile/EducationHistory/modals/AddOrEditKoulutusModal.tsx
  src/routes/Profile/FreeTimeActivities/FreeTimeActivitiesWizard/ActivityStep.tsx
  src/routes/Profile/FreeTimeActivities/modals/AddOrEditToimintoModal.tsx
  src/routes/Profile/WorkHistory/WorkHistoryWizard/WorkplaceStep.tsx
  src/routes/Profile/WorkHistory/modals/AddOrEditToimenkuvaModal.tsx
  src/routes/Tool/components/CompetenceImport.tsx
  src/utils/features.ts
Due: prettier --write, eslint --report-unused-disable-directives

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,css,md,yml,yaml}
  eslint --report-unused-disable-directives: any of: *.{ts,tsx}
