Repository Opetushallitus/jod-yksilo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --report-unused-disable-directives

.lintstagedrc.json:

{
  "*.{ts,tsx,json,css,md,yml,yaml}": ["prettier --check"],
  "*.{ts,tsx}": ["eslint --report-unused-disable-directives"]
}

OPHJOD-2567: Add draft translation files and integrate them into i18n configuration
  src/i18n/config.ts
  src/i18n/en/draft.translation.json
  src/i18n/fi/draft.translation.json
  src/i18n/sv/draft.translation.json
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2400: Use Rate AI content card from DS
  package-lock.json
  src/components/ConfirmDialogWrapper/ConfirmDialogWrapper.tsx
  src/components/RateAiContent/RateAiContent.tsx
  src/i18n/fi/translation.json
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2438: Update to use UserButton & MenuButton from DS
  package-lock.json
  src/components/index.tsx
  src/i18n/fi/translation.json
  src/routes/Root/Root.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2400: Update RateAiContent texts
  package-lock.json
  src/components/OpportunityDetails/OpportunityDetails.tsx
  src/components/RateAiContent/RateAiContent.tsx
  src/i18n/fi/translation.json
  src/routes/EducationOpportunity/EducationOpportunity.tsx
  src/routes/JobOpportunity/JobOpportunity.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2446: Grant write permissions for contents
  .github/workflows/deploy.yml
Due: prettier --check

OPHJOD-2035: Add aria labels for external links
  package-lock.json
  src/components/AiInfo/AiInfo.tsx
  src/components/FeedbackModal/FeedbackModal.tsx
  src/components/NavMenu/NavMenu.tsx
  src/i18n/fi/translation.json
  src/routes/EducationOpportunity/EducationOpportunity.tsx
  src/routes/Home/Home.tsx
  src/routes/JobOpportunity/JobOpportunity.tsx
  src/routes/Profile/WelcomePathModal/WelcomePathModal.tsx
  src/routes/Root/Root.tsx
  src/routes/Tool/AdditionalSupport.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2405: Clean code and add missing dep to useEffect
  src/routes/Tool/ProfileImportExport.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2405: Dont reset kiinnostukset after import
  src/routes/Tool/ProfileImportExport.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2405: Cleanup code
  src/routes/Tool/ProfileImportExport.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2405: Remove unnecessary dependency
  src/routes/Tool/ProfileImportExport.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2515: Update DS
  package-lock.json
Due: prettier --check

OPHJOD-2564: Add translation import/export scripts and update package configuration
  .github/workflows/build.yml
  .gitignore
  README.md
  eslint.config.js
  package-lock.json
  package.json
  scripts/translations/export-translations.js
  scripts/translations/import-translations.js
  vendor/xlsx-0.20.3.tgz
Due: prettier --check

OPHJOD-2566: Removed unused translations and refactored code to avoid dynamic translation keys
  src/api/middlewares/toast.ts
  src/components/CompareTable/CompareCompetencesTable.tsx
  src/components/OpportunityDetails/OpportunityDetails.tsx
  src/components/OsaamisSuosittelija/OsaamisSuosittelija.tsx
  src/components/RateAiContent/RateAiContent.tsx
  src/constants.ts
  src/i18n/en/translation.json
  src/i18n/fi/translation.json
  src/routes/Home/Home.tsx
  src/routes/Profile/Competences/CompetenceFilters.tsx
  src/routes/Profile/Competences/GroupBySource.tsx
  src/routes/Profile/Favorites/Favorites.tsx
  src/routes/Profile/Path/components/LinksFormSection.tsx
  src/routes/Profile/WorkHistory/modals/AddOrEditToimenkuvaModal.tsx
  src/routes/Root/Root.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2031: Add name props for Modals
  package-lock.json
  src/components/FeedbackModal/FeedbackModal.tsx
  src/i18n/en/draft.translation.json
  src/i18n/fi/draft.translation.json
  src/i18n/sv/draft.translation.json
  src/routes/Profile/Competences/Competences.tsx
  src/routes/Profile/EducationHistory/EducationHistoryWizard/CompetencesStep.tsx
  src/routes/Profile/EducationHistory/EducationHistoryWizard/EducationHistoryWizard.tsx
  src/routes/Profile/EducationHistory/EducationHistoryWizard/EducationStep.tsx
  src/routes/Profile/EducationHistory/EducationHistoryWizard/SummaryStep.tsx
  src/routes/Profile/EducationHistory/modals/AddOrEditKoulutusModal.tsx
  src/routes/Profile/EducationHistory/modals/EditKoulutuskokonaisuusModal.tsx
  src/routes/Profile/EducationHistory/modals/ImportKoulutusResultModal.tsx
  src/routes/Profile/EducationHistory/modals/ImportKoulutusStartModal.tsx
  src/routes/Profile/EducationHistory/modals/ImportKoulutusSummaryModal.tsx
  src/routes/Profile/Favorites/Favorites.tsx
  src/routes/Profile/FreeTimeActivities/FreeTimeActivitiesWizard/ActivityStep.tsx
  src/routes/Profile/FreeTimeActivities/FreeTimeActivitiesWizard/CompetencesStep.tsx
  src/routes/Profile/FreeTimeActivities/FreeTimeActivitiesWizard/FreeTimeActivitiesWizard.tsx
  src/routes/Profile/FreeTimeActivities/FreeTimeActivitiesWizard/SummaryStep.tsx
  src/routes/Profile/FreeTimeActivities/modals/AddOrEditPatevyysModal.tsx
  src/routes/Profile/FreeTimeActivities/modals/EditVapaaAjanToimintoModal.tsx
  src/routes/Profile/Interests/EditKiinnostusModal.tsx
  src/routes/Profile/MyGoals/AddGoalModal.tsx
  src/routes/Profile/Path/modal/ManualVaiheModal/ManualVaiheModal.tsx
  src/routes/Profile/Path/modal/ProposeVaiheModal/OpportunityDetailsStep.tsx
  src/routes/Profile/Path/modal/ProposeVaiheModal/ProposeVaiheModal.tsx
  src/routes/Profile/SomethingElse/EditMuuOsaaminenModal.tsx
  src/routes/Profile/WelcomePathModal/WelcomePathModal.tsx
  src/routes/Profile/WorkHistory/WorkHistoryWizard/CompetencesStep.tsx
  src/routes/Profile/WorkHistory/WorkHistoryWizard/SummaryStep.tsx
  src/routes/Profile/WorkHistory/WorkHistoryWizard/WorkHistoryWizard.tsx
  src/routes/Profile/WorkHistory/WorkHistoryWizard/WorkplaceStep.tsx
  src/routes/Profile/WorkHistory/modals/AddOrEditToimenkuvaModal.tsx
  src/routes/Profile/WorkHistory/modals/EditTyonantajaModal.tsx
  src/routes/Tool/ToolSettings.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2494: Fix syntax error and update jod-design-system
  src/routes/Tool/ToolSettings.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2494: Run prettier always before commit
  .husky/pre-commit
Due: none

OPHJOD-2494: Remove pre-commit changes and make them in own ticket
  .husky/pre-commit
Due: none

OPHJOD-2494: Use prettier
  src/routes/Tool/ToolSettings.tsx
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2494: Refactor and cleanup code.
  src/api/schema.d.ts
  src/routes/Tool/ToolSettings.tsx
  src/routes/Tool/components/filters/FilterSijainti.tsx
  src/stores/useToolStore/ToolStoreModel.ts
  src/stores/useToolStore/filters.ts
  src/stores/useToolStore/index.ts
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2615: Refactor date picker translations
  src/hooks/useDatePickerTranslations/index.ts
  src/routes/Profile/EducationHistory/EducationHistoryWizard/EducationStep.tsx
  src/routes/Profile/EducationHistory/modals/AddOrEditKoulutusModal.tsx
  src/routes/Profile/FreeTimeActivities/FreeTimeActivitiesWizard/ActivityStep.tsx
  src/routes/Profile/FreeTimeActivities/modals/AddOrEditPatevyysModal.tsx
  src/routes/Profile/Path/components/DurationFormSection.tsx
  src/routes/Profile/WorkHistory/WorkHistoryWizard/WorkplaceStep.tsx
  src/routes/Profile/WorkHistory/modals/AddOrEditToimenkuvaModal.tsx
  src/utils/index.ts
Due: prettier --check, eslint --report-unused-disable-directives

OPHJOD-2612: Auto format before commit
  .lintstagedrc.json
Due: prettier --check
